
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                @await Html.PartialAsync("~/Views/Shared/_Culture.cshtml")
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded-circle" src="~/inspinia-gh-pages/img/a6.jpg" />
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">Beyza Selimoğlu</span>

                        <span class="text-muted text-xs block"> <b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">


                        <li><a class="dropdown-item" href="/Login/IndexAdmin/">@localizer["Çıkış Yap"]</a></li>

                    </ul>

                </div>

                <div class="logo-element">
                    IN+
                </div>
            </li>

            </li>

            <li>
                <a href="/Admin/Widget"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">@localizer["SocialDiscount Takip"] </span><span class="fa arrow"></span></a>

            </li>
            <li>
                <a href="#">
                    <i class="fa fa-bar-chart-o"></i> <span class="nav-label">
                        @localizer["Bloglar"]
                    </span><span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/Admin/Blog/BlogListExcel">@localizer["BLog Listesi"]</a></li>
                    <li><a href="/Admin/Blog/BlogTitleListExcel">@localizer["Blog Başlık Listesi"]</a></li>

                </ul>
            </li>

            <li>
                <a href="#">
                    <i class="fa fa-bar-chart-o"></i> <span class="nav-label">
                        @localizer["Kategoriler"]
                    </span><span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/Admin/Category/Index">@localizer["Kategori Durumu"]</a></li>
                    <li><a href="/Admin/Category/AddCategory">@localizer["Kategori Ekle"]</a></li>

                </ul>
            </li>

            <li>
                <a href="#">
                    <i class="fa fa-bar-chart-o"></i> <span class="nav-label">
                        @localizer["Durum"]
                    </span><span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/Admin/Chart/Index">@localizer["Google Charts"]</a></li>
                  

                </ul>
            </li>



        </ul>
    </div>
</nav>