@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <img src="https://pbs.twimg.com/profile_images/1164292154396725250/txLNlXQv_400x400.jpg" alt="profile">
                    <span class="login-status online"></span>
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                    <span class="font-weight-bold mb-2"></span>
                    <span class="text-secondary text-small"></span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/Dashboard/Index/">
                <span class="menu-title">@localizer["Ana Sayfa"]</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>


        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/WriterEditProfile/">
                <span class="menu-title">@localizer["Profilim"]</span>
                <i class="mdi mdi-contacts menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Blog/BlogListByWriter/">
                <span class="menu-title">@localizer["Bloglarım"]</span>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Blog/BlogAdd/">
                <span class="menu-title">@localizer["Yeni Blog"]</span>
                <i class="mdi mdi-new-box menu-icon"></i>
            </a>
        </li>

        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Blog/Index/">
                <span class="menu-title">@localizer["Siteye Git"]</span>
                <i class="mdi mdi-car menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/WriterEditProfile/">
                <span class="menu-title">@localizer["Ayarlar"]</span>
                <i class="mdi mdi-settings menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Login/Index/">
                <span class="menu-title">@localizer["Çıkış Yap"]</span>
                <i class="mdi mdi-logout menu-icon"></i>
            </a>
        </li>

    </ul>
</nav>